# Modelling Vector Space Model

## Apa itu Vector Space Model

Vector Space Model (VSM) adalah model matematika yang digunakan untuk merepresentasikan dokumen teks sebagai vektor dari identifikator (seperti kata-kata atau token). Model ini adalah bagian fundamental dalam sistem informasi pencarian dan teknik pemrosesan bahasa alami untuk menilai dan mengurutkan dokumen berdasarkan relevansinya terhadap suatu query.

### Konsep Dasar

Dalam VSM, setiap dimensi vektor mewakili sebuah term (kata) yang unik dalam dokumen. Nilai dalam vektor ini bisa merupakan frekuensi kemunculan kata, atau bobot yang lebih kompleks seperti TF-IDF, yang menggabungkan frekuensi kata dalam dokumen (TF) dan kebalikan frekuensi dokumen (IDF). Setiap dokumen direpresentasikan sebagai titik dalam ruang vektor ini.

### Kegunaan

Model ini sangat berguna dalam sistem pencarian dan pengambilan informasi karena memungkinkan operasi seperti pencarian kecocokan dan perankingan dilakukan secara matematis. VSM memfasilitasi pencocokan query pencarian dengan koleksi dokumen melalui perhitungan kedekatan vektor, menggunakan teknik seperti cosine similarity.

### Keunggulan

- **Flexibilitas**: VSM memungkinkan penyertaan berbagai metode penghitungan bobot selain frekuensi term, seperti TF-IDF, yang meningkatkan efektivitas model dalam menghadapi isu seperti kata-kata yang sangat umum yang muncul di banyak dokumen.
- **Efisiensi**: Meskipun representasi vektor dapat menjadi sangat besar, teknik seperti sparse matrix operations memungkinkan pemrosesan yang efisien.
- **Kemampuan Komparatif**: Dengan merepresentasikan dokumen sebagai vektor, mudah untuk mengukur kesamaan antar dokumen.

### Keterbatasan

- **Semantik**: VSM tidak memperhitungkan konteks dan makna semantik dari kata-kata, yang bisa mengakibatkan dokumen yang sebenarnya berkaitan tidak dikenali sebagai relevan.
- **Sinonim dan Polisemi**: Kata-kata dengan makna ganda atau sinonim mungkin tidak diproses dengan efektif, karena model ini berfokus pada kata-kata sebagai entitas independen tanpa mempertimbangkan hubungan semantiknya.

## Konsep TF-IDF

Metode  Term  Frequency-Inverse Document Frequency (TF-IDF) adalah salah satu  teknik  representasi  teks yang mengonversi kata-kata menjadi  nilai  numerik  berdasarkan  seberapa  sering kata tersebut  muncul  dalam  teks  serta  seberapa  umumnya kata tersebut  dalam  kumpulan  dokumen yang tersedia. Bobot  numerik yang dihasilkan oleh metode  ini  sering  disebut  sebagai  bobot TF-IDF.

### Term Frequency (TF)

**Term Frequency**: Dalam  dokumen d, frekuensi  merepresentasikan  jumlah  kemunculan kata t. Oleh karena  itu, kita  dapat  melihat  bahwa  frekuensi  menjadi  lebih  relevan  ketika  sebuah kata muncul di dalam  teks, yang mana hal  ini  rasional. Karena urutan  istilah  tidak  signifikan, kita  dapat  menggunakan  vektor  untuk  menggambarkan  teks  dalam  kantong model istilah. Untuk  setiap  istilah  tertentu  dalam  teks, ada  sebuah  entri  dengan  nilai yang merupakan  frekuensi  istilah. Bobot  sebuah  istilah yang muncul  dalam  sebuah  dokumen  secara  sederhana  sebanding  dengan  frekuensi  istilah  tersebut


$$
    tf(t, d) = \frac{\text{jumalah } t \text{ dalam } d}{\text{jumlah kata dalam } d}
$$



**Dokument Frequency**: mengukur  seberapa  umumnya  suatu kata terjadi di seluruh  koleksi  dokumen. Konsep  ini  mirip  dengan Term Frequency (TF), namun  perbedaannya  terletak pada bagaimana  kita  menghitung  kemunculan  suatu kata. Di TF, kita  melihat  seberapa  sering kata muncul  dalam  satu  dokumen  tertentu, sedangkan di DF, kita  melihat  berapa  banyak  dokumen yang mengandung kata tersebut di dalam  keseluruhan  koleksi  dokumen. Jadi, Document Frequency (DF) adalah  jumlah  dokumen yang memuat  suatu kata.

$$
    df(t) = \text{kemunculan } t \text{ dalam } dokumen
$$

### Inverse Document Frequency (IDF)

**Inverse Document Frequency (IDF)**: mengevaluasi tingkat relevansi suatu kata dalam konteks pencarian. Ketika mencari informasi, tujuan utama adalah menemukan dokumen yang paling sesuai dengan permintaan pengguna. Mengingat bahwa Term Frequency (TF) memperlakukan semua kata dengan nilai yang sama, frekuensi kata itu sendiri tidak cukup untuk menilai  bobot istilah dalam sebuah dokumen. IDF pertama-tama mencari frekuensi kemunculan dokumen untuk suatu kata dengan menghitung jumlah dokumen yang mengandung kata tersebut.

$$
    df(t) = N(t)
$$

$$
    df(t) = \text{Frekuensi dokumen dari suatu istilah t}
$$

$$
    N(t) = \text{Jumlah } dokumen \text{ yang mengandung istilah } t
$$

### TF-IDF

Term Frequency adalah jumlah kemunculan suatu term dalam satu dokumen saja, sedangkan Document Frequency adalah jumlah dokumen terpisah tempat istilah tersebut muncul. Namun, frekuensi ini bergantung pada seluruh korpus. IDF merupakan jumlah dokumen dalam korpus yang dipisahkan oleh frekuensi teks. Dengan kata lain, IDF mengukur seberapa umum atau langka suatu kata dalam seluruh koleksi dokumen.

$$
    idf(t) = \frac{N}{df(t)}=\frac{N}{N(t)}
$$

$$
    idf(t) = log_2 \frac{N}{df(t)}
$$

Maka dari itu rumus dari TF * IDF adalah sebagai berikut:

$$
    tf-idf(t, d) = tf(t, d) * idf(t)
$$

## Modelling SVM

### Prepocessing

In [2]:
!pip install Sastrawi nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Sastrawi in c:\program files\python311\lib\site-packages (1.0.1)
Requirement already satisfied: nltk in c:\program files\python311\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\program files\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\program files\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\program files\python311\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\program files\python311\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\program files\python311\lib\site-packages (from click->nltk) (0.4.6)

In [3]:
# import library yang dibutuhkan
import pandas as pd
import re
from tqdm import tqdm
import nltk
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from nltk.corpus import stopwords
import string

In [4]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\akhyar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Data yang sebelumnya sudah discrapping pada [tugas 1](https://rrayhka.github.io/pencarian-penambangan-web/tugas-1-crawling.html#convert-data-ke-dalam-csv) diimport untuk dijadikan VSM

In [5]:
df = pd.read_csv("data-artikel-cnbc.csv")

In [6]:
df.head()

,judul,tanggal,isi,url,kategori
0,Bukan Kaleng-kaleng! Nilai Skuad Timnas Indone...,09 September 2024 19:30,"Jakarta, CNBC Indonesia -Kedatangan pemain-pem...",https://www.cnbcindonesia.com/research/2024090...,Research
1,"Aset Bank Mandiri Tembus Rp 2.200 T, Paling Ju...",09 September 2024 19:05,"Jakarta, CNBC Indonesia -Sepanjang paruh perta...",https://www.cnbcindonesia.com/research/2024090...,Research
2,Emas Meredup Saat Suku Bunga The Fed Mau Turun...,09 September 2024 18:10,"Jakarta,CNBC Indonesia -Harga emas dunia melem...",https://www.cnbcindonesia.com/research/2024090...,Research
3,"Tetangga RI Dihantam 'Bencana' Iklim, Harga Ba...",09 September 2024 15:55,"Jakarta, CNBC Indonesia -Indeks Harga Konsumen...",https://www.cnbcindonesia.com/research/2024090...,Research
4,"Tantama Hingga Perwira, Ini Urutan Lengkap Pan...",09 September 2024 14:35,"Jakarta, CNBC Indonesia-Tentara Nasional Indon...",https://www.cnbcindonesia.com/research/2024090...,Research

In [7]:
# hanya memilih kolom judul, isi, dan kategori
df = df[['isi','kategori']]
df.head()

                                                 isi  kategori
0  Jakarta, CNBC Indonesia -Kedatangan pemain-pem...  Research
1  Jakarta, CNBC Indonesia -Sepanjang paruh perta...  Research
2  Jakarta,CNBC Indonesia -Harga emas dunia melem...  Research
3  Jakarta, CNBC Indonesia -Indeks Harga Konsumen...  Research
4  Jakarta, CNBC Indonesia-Tentara Nasional Indon...  Research

In [8]:
# Filter data untuk kategori "Research" dan "News" masing-masing diambil 50 berita
research = df[df["kategori"] == "Research"].sample(n=50, random_state=42)
news = df[df["kategori"] == "News"].sample(n=50, random_state=42)

In [9]:
# Gabungkan keduanya
data = pd.concat([research, news], ignore_index=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   isi       100 non-null    object
 1   kategori  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [11]:
data.head()

                                                 isi  kategori
0  Jakarta, CNBC Indonesia -Sejumlah agenda dan e...  Research
1  Jakarta, CNBC Indonesia-Memasuki September 202...  Research
2  Jakarta, CNBC Indonesia- Gempamegathrusthingga...  Research
3  Jakarta,CNBC Indonesia-Gaharu, juga dikenal se...  Research
4  Jakarta, CNBC Indonesia -Dalam ajaran resmi Ge...  Research

In [12]:
data = data.sample(frac = 1, ignore_index=True)

#### Beberapa FUngsi yang digunakan untuk mengolah dataset kata

1. **Pembersihan Teks**:
       - Menghapus URL yang diawali dengan "www." atau "https://", agar tidak mengganggu hasil analisis.
       - Menghapus mention username yang diawali dengan '@' untuk menghindari gangguan dari referensi ke akun sosial media.
       - Menghapus spasi berlebih yang muncul akibat pembersihan teks sebelumnya.
       - Menghapus hashtag (kata yang diawali dengan '#'), karena hashtag tidak diperlukan dalam analisis konten.
       - Menghapus teks 'RT' (retweet) yang biasa ditemukan dalam tweet.
       - Menghapus tanda baca seperti titik, koma, tanda seru, dan karakter non-alfanumerik lainnya.
       - Menghapus angka dari teks karena angka biasanya tidak berkontribusi pada pemahaman konteks dalam teks (kecuali dalam analisis numerik).
       - Mengubah teks menjadi huruf kecil agar seragam dalam pengolahan, terutama dalam analisis berbasis kata.
       - Menghapus karakter non-ASCII untuk menghindari simbol atau karakter yang tidak dikenal di encoding ASCII.
       - Menghapus karakter tambahan non-ASCII yang mungkin masih tersisa di dalam teks.
       - Menghapus baris baru ('\n') agar hasilnya berupa satu baris teks yang konsisten.

2. **Stemming**:
       - Menggunakan library `Sastrawi` untuk stemming teks bahasa Indonesia. Stemming adalah proses mengubah kata-kata menjadi bentuk dasar (akar kata),
         sehingga kata yang beragam seperti "makan", "memakan", "dimakan" semuanya diproses menjadi "makan".
       
3. **Tokenisasi**:
       - Memecah teks yang sudah dibersihkan dan distemming menjadi token (kata-kata individu), yang dapat diolah lebih lanjut.
       
4. **Filtering Stopwords**:
       - Menghapus stopwords (kata-kata umum yang tidak penting dalam analisis teks seperti "yang", "dan", "di") menggunakan daftar stopwords dari
         bahasa Indonesia yang disediakan oleh NLTK. Ini bertujuan agar hanya kata-kata penting yang dipertahankan dalam teks.
       
5. **Penggabungan Kembali**:
       - Setelah proses tokenisasi dan filtering stopwords, token yang tersisa digabung kembali menjadi satu string teks yang siap digunakan
         dalam teknik analisis teks selanjutnya, seperti perhitungan TF-IDF atau analisis vektor.

#### Fungsi clean text

In [13]:
stopwords = stopwords.words('indonesian')
# save stopwords
with open('stopwords.txt', 'w') as f:
  for item in stopwords:
    f.write("%s\n" % item)

In [14]:
def cleansing(text):
    text = re.sub(r'[\s]+', ' ', text) # Menghapus tambahan spasi
    text = text.encode('ascii','ignore').decode('utf-8') # Menghapus karakter non-ASCII
    text = re.sub(r'[^\x00-\x7f]', r'', text) # Menghapus karakter non-printable
    text = re.sub(r'\d+', '', text) # Menghapus angka
    text = text.lower() # Mengubah teks menjadi huruf kecil
    text = re.sub(r'\b-\b', ' ', text) # Menghapus tanda hubung yang tidak berada di antara dua huruf
    text = re.sub(r'[^\w\s]+', ' ', text) # Menghapus tanda baca
    text = text.replace('\n','') #Menghapus baris baru
    return text

#### Fungsi Remove Stopword

In [15]:
def stopword(text):
    text = text.split() # Memisahkan teks menjadi kata-kata
    text = [word for word in text if word not in stopwords] # Menghapus stopwords dari teks
    text = ' '.join(text) # Menggabungkan kata-kata kembali menjadi teks
    return text

#### Fungsi Stemming

In [16]:
def stemming_indo(text):
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    text = stemmer.stem(text)
    return text

In [17]:
def preprocessing(text):
    clean_text = cleansing(text)
    stopword_text = stopword(clean_text)
    stemmed_text = stemming_indo(stopword_text)
    return stemmed_text

In [18]:
print(data["isi"][0])

Jakarta, CNBC Indonesia -Arus dana asing untuk pertama kalinya tercatat keluar dari pasar keuangan domestik setelah terjadiinflowselama 10 pekan beruntun. Padahal, ekspektasi pemangkasan suku bunga bank sentral Amerika Serikat (AS) The Federal Reserve (The Fed) semakin jelas terlihat.
Bank Indonesia (BI) merilis data transaksi 2-5 September 2024, investor asing tercatat jual neto Rp2,49 triliun terdiri dari beli neto Rp2,65 triliun di pasar Surat Berharga Negara (SBN) dan Rp2,24 triliun di pasar saham, serta jual neto sebesar Rp7,38 triliun di Sekuritas Rupiah Bank Indonesia (SRBI).
Selama 2024, berdasarkan data setelmen sampai dengan 5 September 2024, investor asing tercatat beli neto sebesar Rp28,80 triliun di pasar saham, Rp11,15 triliun di pasar SBN dan Rp186,92 triliun di SRBI.

Investor asing mencatat inflow sejak pekan terakhir Juni hingga akhir Agustus 2024. Selama dua bulan tersebut, RI diberkahi durian runtuh derasnya investor asing. Pekan kemarin cukup mengejutkan mengingatforeign flowterpantau keluar setelah terjadiinflowselama 10 pekan beruntun atau dua bulan lebih. Hal ini didominasi olehoutflowdari SRBI.
Imbal hasil SRBI yang mengalami penurunan disinyalir menjadi penyebab turunnya permintaan terhadap SRBI. Instrumen SRBI menjadi primadona investor sejak akhir April hingga pertengahan Juli 2024. Pada periode tersebut, rata-rata penjualan SRBI mencapai Rp 5,5 triliun. Transaksi pada periode tersebut bahkan banyak yang tercatatoutflow.
Namun, peminatnya mulai berkurang drastis setelah Juli akhir, ditandai dengan menurunnya pembelian hingga tercatatnya net flow dari instrumen tersebut.Outflowpada pekan lalu bahkan menjadi yang terburuk sejak instrumen tersebut diterbitkan BI pada September 2023.
CGS Internationalmencatat dalam penerbitan terbaru, imbal hasil SRBI (12 bulan) turun 37 basis poin (bps) dari puncaknya 7,54% pada akhir Juni 24, sementara penerbitan menjadi kurang sering.
Nominal issueduntuk SRBI enam bulan maupun 12 bulan terpantau terus mengalami penurunan. Untuk tenor enam bulan, penerbitan SRBI tak sampai Rp1 triliun dan untuk tenor 12 bulan tak sampai Rp13 triliun.
Sementara SBN tenor 10 tahun terus memberikan daya tarik tersendiri bagi investor asing khususnya jika dibandingkan dengan US Treasury tenor 10 tahun.
Imbal hasil SBN tenor 10 tahun tercatat sebesar 6,603% Sementara US Treasury hanya 3,71% pada 6 September 2024.
Selain itu, selisih imbal hasil SBN tenor 10 tahun dengan US Treasury pun terpantau semakin lebar yakni dari 273 bps pada 2 September 2024, menjadi 289 bps pada 6 September 2024. Bahkan sempat menyentuh 290 bps pada 4 September 2024. Hal ini tentu memberikan daya tarik bagi investor asing untuk masuk ke pasar SBN Tanah Air.

Lebih lanjut, ekspektasi pemangkasan suku bunga The Fed yang semakinbold, terpantau memberikan angin segar bagi pasar emerging market termasuk Indonesia.
Presiden Direktur Sucor Asset Management, Jemmy Paul Wawointana mengatakan investor cenderungsell-offdi dolar AS dan mulai masuk ke pasar Indonesia.
Data-data ekonomi AS yang cenderung terus mengalami pelandaian semakin memperbesar peluangcut ratedalam bulan ini. Data-data tersebut antara lain seperti inflasi konsumen, produsen, hingga Personal Consumption Expenditure (PCE) serta data ketenagakerjaan yang relatif mendingin.
Survei CME FedWatch Tool juga menunjukkan 100% pelaku pasar berekspektasi terjadi pemangkasan suku bunga The Fed bulan ini dengan rincian 70% sebesar 25 bps dan 30% sebesar 50 bps.
CNBC INDONESIA RESEARCH
[email protected]

In [19]:
print(preprocessing(data["isi"][0]))

jakarta cnbc indonesia arus dana asing kali catat pasar uang domestik terjadiinflowselama pekan untun ekspektasi mangkas suku bunga bank sentral amerika serikat as the federal reserve the fed bank indonesia bi rilis data transaksi september investor asing catat jual neto rp triliun beli neto rp triliun pasar surat harga negara sbn rp triliun pasar saham jual neto rp triliun sekuritas rupiah bank indonesia srbi dasar data setelmen september investor asing catat beli neto rp triliun pasar saham rp triliun pasar sbn rp triliun srbi investor asing catat inflow pekan juni agustus ri kah durian runtuh deras investor asing pekan kemarin kejut mengingatforeign flowterpantau terjadiinflowselama pekan untun dominasi olehoutflowdari srbi imbal hasil srbi alami turun sinyalir sebab turun minta srbi instrumen srbi primadona investor april tengah juli periode jual srbi capai rp triliun transaksi periode tercatatoutflow minat kurang drastis juli tanda turun beli catat net flow instrumen outflowpada pekan buruk instrumen terbit bi september cgs internationalmencatat terbit baru imbal hasil srbi turun basis poin bps puncak juni terbit nominal issueduntuk srbi enam pantau alami turun tenor enam terbit srbi rp triliun tenor rp triliun sbn tenor daya tarik sendiri investor asing banding us treasury tenor imbal hasil sbn tenor catat us treasury september selisih imbal hasil sbn tenor us treasury pantau lebar bps september bps september sentuh bps september daya tarik investor asing masuk pasar sbn tanah air ekspektasi mangkas suku bunga the fed semakinbold pantau angin segar pasar emerging market indonesia presiden direktur sucor asset management jemmy paul wawointana investor cenderungsell offdi dolar as masuk pasar indonesia data data ekonomi as cenderung alami landai besar peluangcut ratedalam data data inflasi konsumen produsen personal consumption expenditure pce data ketenagakerjaan relatif dingin survei cme fedwatch tool laku pasar berekspektasi mangkas suku bunga the fed rincian bps bps cnbc indonesia research email protected

In [20]:
data["cleaned"] = data["isi"].apply(preprocessing)

In [21]:
data = pd.read_csv("data_cleaned.csv")

In [22]:
data.head()

,isi,kategori,cleaned
0,"Jakarta, CNBC Indonesia-Dalam beberapa waktu t...",Research,jakarta cnbc indonesia butuh air galon indones...
1,"Jakarta, CNBC Indonesia - Presiden Republik In...",News,jakarta cnbc indonesia presiden republik indon...
2,"Jakarta, CNBC Indonesia -Tim nasional (timnas)...",Research,jakarta cnbc indonesia tim nasional timnas sep...
3,"Jakarta, CNBC Indonesia -Bisnis air mineral ke...",Research,jakarta cnbc indonesia bisnis air mineral kema...
4,"Jakarta, CNBC Indonesia-Ekonom senior Institut...",News,jakarta cnbc indonesia ekonom senior institute...

In [23]:
data["isi"][0]

'Jakarta, CNBC\xa0Indonesia-Dalam beberapa waktu terakhir, kebutuhan akan air galon di Indonesia menjadi sorotan utama, terutama dalam konteks dampaknya terhadap ekonomi rumah tangga kelas menengah.\r\nMenurut mantan Menteri Keuangan, Bambang Brodjonegoro, kebiasaan masyarakat Indonesia yang bergantung pada air kemasan, seperti air galon, secara tidak sadar telah menggerus pendapatan rumah tangga, khususnya di kalangan kelas menengah. Hal ini turut memperburuk kondisi ekonomi pasca-pandemi\xa0Covid-19, yang menyebabkan banyak kelas menengah turun ke kelas ekonomi yang lebih rendah.\r\nPertanyaan pun muncul, apakah Indonesia mampu mengandalkan air keran sebagai sumber air minum layak? Di beberapa negara maju, air keran yang bisa langsung diminum merupakan fasilitas umum yang umum tersedia, sehingga masyarakat tidak perlu mengeluarkan uang ekstra untuk membeli air kemasan.\r\nMeski begitu, hingga saat ini, di Indonesia, penggunaan air keran sebagai air minum masih belum umum. Namun, ada perkembangan signifikan di Ibu Kota Negara (IKN) Nusantara, di mana proyek penyaluran air keran sudah mulai berjalan. Menteri PUPR, Basuki Hadimuljono, mengungkapkan bahwa fasilitas reservoir dan instalasi pengolahan air minum (IPA) Sepaku siap mendistribusikan air minum dan air bersih ke berbagai kawasan di IKN.\r\nMeski ada upaya menuju penggunaan air keran di IKN, data menunjukkan bahwa konsumsi air minum dalam kemasan di rumah tangga Indonesia masih tinggi. Selama lima tahun terakhir, permintaan air minum dalam kemasan cenderung meningkat.\r\nMenurut data Badan Pusat Statistik (BPS), meskipun ada fluktuasi, persentase rumah tangga yang menggunakan air minum dalam kemasan terus mengalami peningkatan, terutama di daerah perkotaan. Hal ini dipicu oleh meningkatnya kesadaran akan kebersihan dan kualitas air minum di kalangan masyarakat.\r\n\r\nSelain itu, data menunjukkan bahwa beberapa provinsi di Indonesia mencatat konsumsi air minum dalam kemasan tertinggi.\r\nPada 2023, DKI Jakarta memimpin dengan 79,39% rumah tangga menggunakan air minum dalam kemasan. Provinsi lainnya seperti Kalimantan Timur, Kepulauan Riau, dan Kalimantan Utara juga menunjukkan tren serupa.\r\nFaktor utama yang mendorong tingginya konsumsi air kemasan di provinsi-provinsi ini adalah akses yang lebih mudah dan kesadaran akan pentingnya air bersih di tengah pertumbuhan urbanisasi yang pesat.\r\nPeningkatan konsumsi air minum dalam kemasan ini menimbulkan pertanyaan tentang keberlanjutan dan dampaknya terhadap ekonomi rumah tangga. Sementara itu, upaya pemerintah untuk menyediakan air minum layak melalui infrastruktur air keran, seperti yang sedang dilakukan di IKN, menjadi langkah penting untuk mengurangi ketergantungan masyarakat terhadap air kemasan.\r\nDengan infrastruktur yang lebih baik, diharapkan masyarakat Indonesia dapat beralih ke sumber air yang lebih efisien dan hemat biaya, tanpa mengorbankan kualitas dan kesehatan.\r\nAir Galon Jadi Sorotan\r\nEkonom senior yang merupakan mantan Menteri Keuangan, Bambang Brodjonegoro mengatakan turunnya tingkat ekonomi kelas menengah di Indonesia tidak hanya terjadi karena pandemi Covid-19 dan banyaknya pemutusan hubungan kerja (PHK). Melainkan juga akibat kebiasaan sehari-hari kebutuhan terhadap air galon.\r\n"Selama ini secara tidak sadar itu sudah menggerus income kita secara lumayan dengan style kita yang mengandalkan semua kepada air galon, air botol dan segala macamnya," kata Bambang di kantor Kamar Dagang dan Industri (Kadin) Indonesia, Jakarta, dikutip Senin (2/8/2024).Menteri Perencanaan Pembangunan Nasional (PPN)/Kepala Bappenas periode I pemerintahan Presiden Joko Widodo itu menekankan, kebiasaan mengkonsumsi air dalam kemasan tidak terjadi di semua negara.\r\nDi negara maju misalnya, warga kelas menengah terbiasa menenggak air minum yang disediakan pemerintah di tempat-tempat umum. Dengan adanya fasilitas air minum massal itu, masyarakat negara maju tidak perlu mengeluarkan uang untuk membeli minum.\r\n"Daya beli kelas menengahnya aman karena untuk air pun mereka tidak perlu mengeluarkan uang terlalu banyak," kata dia.\r\nMeski begitu, Bambang mengatakan faktor kebutuhan air minum hanyalah satu dari banyak faktor lain yang menyebabkan banyak kelas menengah turun \'kasta\' ke kelas ekonomi yang lebih rendah. Bambang menduga faktor utama tumbangnya kelas menengah RI adalah pandemi Covid-19.\r\n"Penyebabnya itu variatif. Karena kan kita lihat datanya dari 2019 ke 2023. Jadi penyebab pertama adalah Covid," ujar dia.\r\n\r\nCNBC INDONESIA RESEARCH[email\xa0protected]\r\n'

In [24]:
data["cleaned"][0]

'jakarta cnbc indonesia butuh air galon indonesia sorot utama konteks dampak ekonomi rumah tangga kelas tengah mantan menteri uang bambang brodjonegoro biasa masyarakat indonesia gantung air kemas air galon sadar gerus dapat rumah tangga kalang kelas tengah buruk kondisi ekonomi pasca pandemi covid 19 sebab kelas tengah turun kelas ekonomi rendah muncul indonesia andal air keran sumber air minum layak negara maju air keran langsung minum fasilitas sedia masyarakat keluar uang ekstra beli air kemas indonesia guna air keran air minum kembang signifikan kota negara ikn nusantara proyek salur air keran jalan menteri pupr basuki hadimuljono fasilitas reservoir instalasi olah air minum ipa paku distribusi air minum air bersih kawasan ikn upaya guna air keran ikn data konsumsi air minum kemas rumah tangga indonesia minta air minum kemas cenderung tingkat data badan pusat statistik bps fluktuasi persentase rumah tangga air minum kemas alami tingkat daerah kota picu tingkat sadar bersih kualitas air minum kalang masyarakat data provinsi indonesia catat konsumsi air minum kemas tinggi 2023 dki jakarta pimpin 79 39 rumah tangga air minum kemas provinsi kalimantan timur pulau riau kalimantan utara tren faktor utama dorong tinggi konsumsi air kemas provinsi provinsi akses mudah sadar air bersih tumbuh urbanisasi pesat tingkat konsumsi air minum kemas timbul lanjut dampak ekonomi rumah tangga upaya perintah sedia air minum layak infrastruktur air keran ikn langkah kurang gantung masyarakat air kemas infrastruktur harap masyarakat indonesia alih sumber air efisien hemat biaya korban kualitas sehat air galon sorot ekonom senior mantan menteri uang bambang brodjonegoro turun tingkat ekonomi kelas tengah indonesia pandemi covid 19 banyak putus hubung kerja phk akibat biasa hari butuh air galon sadar gerus income lumayan style andal air galon air botol macam bambang kantor kamar dagang industri kadin indonesia jakarta kutip senin 2 8 2024 menteri rencana bangun nasional ppn kepala bappenas periode i perintah presiden joko widodo tekan biasa konsumsi air kemas negara negara maju warga kelas tengah biasa tenggak air minum sedia perintah fasilitas air minum massal masyarakat negara maju keluar uang beli minum daya beli kelas tengah aman air keluar uang bambang faktor butuh air minum faktor sebab kelas tengah turun kasta kelas ekonomi rendah bambang duga faktor utama tumbang kelas tengah ri pandemi covid 19 sebab variatif lihat data 2019 2023 sebab covid cnbc indonesia research email protected'

### Perhitungan TF-IDF

### Mengacak Data

In [26]:
data.head()

,isi,kategori,cleaned
0,"Jakarta, CNBC Indonesia-Dalam beberapa waktu t...",Research,jakarta cnbc indonesia butuh air galon indones...
1,"Jakarta, CNBC Indonesia - Presiden Republik In...",News,jakarta cnbc indonesia presiden republik indon...
2,"Jakarta, CNBC Indonesia -Tim nasional (timnas)...",Research,jakarta cnbc indonesia tim nasional timnas sep...
3,"Jakarta, CNBC Indonesia -Bisnis air mineral ke...",Research,jakarta cnbc indonesia bisnis air mineral kema...
4,"Jakarta, CNBC Indonesia-Ekonom senior Institut...",News,jakarta cnbc indonesia ekonom senior institute...

In [27]:
data = data.sample(frac = 1, ignore_index=True)

In [28]:
data_train = data[:80]
data_test = data[80:]
data_train

,isi,kategori,cleaned
0,"Jakarta,CNBC Indonesia-Gaharu, juga dikenal se...",Research,jakarta cnbc indonesia gaharu kenal agarwood j...
1,"Jakarta, CNBC Indonesia- Badan Meteorologi, Kl...",News,jakarta cnbc indonesia badan meteorologi klima...
2,"Jakarta, CNBC Indonesia -Pasar keuangan RI pad...",Research,jakarta cnbc indonesia pasar uang ri pekan ger...
3,"Jakarta, CNBC Indonesia -Arus dana asing untuk...",Research,jakarta cnbc indonesia arus dana asing kali ca...
4,"Jakarta, CNBC Indonesia -Wafatnya salah satu E...",Research,jakarta cnbc indonesia wafat salah ekonom seni...
...,...,...,...
75,"Jakarta,CNBC Indonesia-Emiten perbankan yang t...",Research,jakarta cnbc indonesia emiten perban gabung hi...
76,"Jakarta, CNBC Indonesia -Tim nasional (timnas)...",Research,jakarta cnbc indonesia tim nasional timnas sep...
77,"Jakarta, CNBC Indonesia -Paus Fransiskus akan ...",Research,jakarta cnbc indonesia paus fransiskus sambang...
78,"Jakarta, CNBC Indonesia-Ekonom senior Institut...",News,jakarta cnbc indonesia ekonom senior institute...
79,"Jakarta, CNBC Indonesia -Wakil Presiden period...",News,jakarta cnbc indonesia wakil presiden periode ...

In [30]:
def tfidf_vsm(data, kategori):
	tfidf = TfidfVectorizer()
	tfidf_matrix = tfidf.fit_transform(data)
	feature_names = tfidf.get_feature_names_out()
	
	df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)
	df_tfidf.insert(0, 'Kategori Berita', kategori.reset_index(drop=True))

	return tfidf, df_tfidf

tfidf_model, df_tfidf = tfidf_vsm(data_train['cleaned'], data_train['kategori'])

In [32]:
def model_tf_idf(data, model, kategori):
	tfidf_matrix = model.transform(data)
	feature_names = model.get_feature_names_out()
	
	df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)
	df_tfidf.insert(0, 'Kategori Berita', kategori.reset_index(drop=True))

	return df_tfidf

df_tfidf_test = model_tf_idf(data_test['cleaned'], tfidf_model, data_test['kategori'])

In [33]:
df_tfidf_test.head()

,Kategori Berita,00,000,00badan,00raker,00rapat,01,02,029,03,...,zalewski,zamrud,zaner,zenix,zero,zimbabwe,zona,zonamegathrustbukanlah,zonamegathrusttersebut,zonamegathrustyang
0,News,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,News,0.000000,0.04248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Research,0.171637,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,News,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,News,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Save Dataset

In [34]:
df_tfidf.to_csv("data_train_vsm.csv", index=False)
df_tfidf_test.to_csv("data_test_vsm.csv", index=False)

In [36]:
import pickle

In [37]:
with open('tfidf_model.pkl', 'wb') as f:
    pickle.dump(tfidf_model, f)